<main>
  <img src="../../../assets/images/dash-splash.png" alt="dashboard-image" />
  <section>
    <h1 class="second">
      Welcome to <span class="primary">FitMe</span> - Your personal
      <span class="primary">AI Trainer</span>
    </h1>
    <p>
      Embark on a journey to a healthier you with our cutting-edge lifestyle
      app. Tailored to your unique preferences, our app creates personalized
      nutrition and workout plans to elevate your well-being. Embrace the future
      of fitness and well-being with <span class="primary">FitMe!</span>
    </p>
    <div class="actions">
      <button class="button-primary" type="submit" (click)="goTo('generate')">
        Get Started
      </button>
      <button
        class="button-secondary"
        type="button"
        (click)="goTo('learn-more')"
      >
        Learn More
      </button>
    </div>
  </section>
</main>
