<main>
  <section>
    <h1 style="color: red;">Control flow syntax</h1>
    <button type="button" (click)="showDashboard=!showDashboard">Toggle dashboard</button>
    @if (showDashboard) {
      <p>Dashboard is now visible</p>
    } @else {
      <p>Press the toggle button to see the dashboard</p>
    }
    <h1>Angular 17 features:</h1>
    <ol>
      @for (feature of features; track feature) {
        <li>{{feature}}</li>
      } @empty {
        <p>We should wait more.</p>
      }
    </ol>
    <hr>
    <h1>Which team is the best?</h1>
    @switch (preferredTeam) {
      @case (Teams.REAL) {
        <h2>I'm sure that is Real.</h2>
      }
      @case (Teams.BARCA) {
        <h2>It might be Barca.</h2>
      }
      @case (Teams.BAYERN) {
        <h2>Maybe is Bayern.</h2>
      }
      @case (Teams.JUVENTUS) {
        <h2>Some small chance to be Juventus.</h2>
      }
      @default {
        <h2>I don't have any preferred team.</h2>
      }
    }
    <button #trigger type="button" (click)="chooseRandomTeam()">Change team opinion</button>
  </section>
  <hr>
  <section>
    <h1 style="color: red;">Deferred loading</h1>
    @defer (on interaction(trigger)) {
      <h1>We see the first component => the user had an interaction with the button with id trigger</h1>
      <app-first-component disabled></app-first-component>
    }
    @defer (when showDashboard) {
      <h1>If we see the dashboard, then the second component is loaded</h1>
      <app-second-component></app-second-component>
    }
  </section>
</main>